

div#prueba h2 {
    font-style: italic;
    position: absolute;
    top: 260px;
    left: 185px;
}

h2{
    font-style: italic;
    position: absolute;
    top: 205px;
    left: 104px;
}

h3{
    font-style: italic;
    position: absolute;
    top: 305px;
    left: 148px;
}

div#tel h2 {
    font-style: italic;
    position: absolute;
    left: 207px;
    top: 350px;
}

.redes {
    float: left;
    width: 8%;
 
    margin: 16px;
    border-radius: 31px;
    height: 48px;
    position: relative;
    left: 176px;
    top: 410px;
}

div#git img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
}

div#facebook img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

div#instagram img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
body{
    background-color: aliceblue;
}